@model StudentSync.Models.LoginViewModel

@{
    //Layout = null;
    ViewBag.Title = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Login</title>

    <!-- SB Admin 2 styles -->
    <link href="/adminElements/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="/adminElements/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back, Admin!</h1>
                                </div>

                                @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "user" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Enter Email Address..." })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
                                    </div>

                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger small" })
                                    </div>

                                        <div class="form-group twenty" style="margin-bottom: 15px;">
                                            <label>
                                                <input asp-for="RememberMe" />
                                                @Html.DisplayNameFor(model => model.RememberMe)
                                            </label>
                                        </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                }

                                <hr>
                                <div class="text-center">
                                        <a asp-action="ForgotPassword" asp-controller="Admin">Forgot your password?</a>

                                </div>
                                <div class="text-center">
                                    <a class="small" asp-controller="Admin" asp-action="Register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/adminElements/vendor/jquery/jquery.min.js"></script>
<script src="/adminElements/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminElements/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/adminElements/js/sb-admin-2.min.js"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}